
  .item {
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .item:hover {
      background: whitesmoke;
      transition: .5s;
  }
  .top-container {
    padding: 1.4rem;
  }

  .name {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 1rem;
  }

  .content {
      font-size: 0.8rem;
      margin-bottom: 1rem;
  }

  @media (max-width: 992px) {
    .container {  
      grid-template-columns: auto;
      -ms-grid-columns: auto;
    }
  }   
  @media (max-width: 800px) {
    .container {
      padding: 0.5rem 1rem;
      grid-gap: 2rem;
    }
  }  