.event-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.event-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(32, 133, 228);
}

.form {
    width: 80%;
}

.form > div {
    width: 100%;
}

.title-input, .description-input, .category-input, .date-input, .address-input {
    width: 100%;
    outline: none;
    margin-bottom: 2rem;
    border-radius: 4px;
    padding: 12px;
    border: 1px solid #000000;
}

.date-input {
    margin-top: 2rem;
}

.event-button {
    width: 100%;
    padding: 16px;
    border: none;
    background: rgb(32, 133, 228);
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

.logout {
    width: 80%;
    padding: 16px;
    border: none;
    background: rgb(180, 67, 67);
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 2rem;
}

.event-button:hover {
    background: rgb(11, 56, 99);
}

.hotlist {
    margin-bottom: 3rem;
    text-align: left;
}

.alert-text {
    background: red;
    position: absolute;
}

@media screen and (max-width: 560px) {
    .event-container {
        width: 100%;
    }
  }